{% extends 'partials/base.html' %}
{% block title %}Currency rate{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4 pt-3">
    <div class="col-md-4">
        <div class="border p-3">
            <h5>Add rate UAH to USD </h5>
            <hr>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-outline-success btn-block" type="submit" value="ADD">
            </form>
        </div>
    </div>
    <div class="col-md-8">
<!-- Chart script -->
<canvas id="myChart" width="400" height="250"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for data in data %} '{{data.date}}', {% endfor %}],
        datasets: [{
            label: 'Currency rate',
            data: [{% for data in data %} '{{data.rate}}', {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

    </div>
</div>
{% endblock %}